<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.qrgen"
          android:versionCode="3"
          android:versionName="1.1.0">
  <uses-sdk android:minSdkVersion="5"
            android:targetSdkVersion="7"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <application android:label="@string/app_name"
               android:icon="@drawable/qricon">
    <activity android:name=".QrGen"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name=".WidgetConfigure">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>
    <receiver android:name="QrAppWidgetProvider" >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/qr_appwidget_info" />
    </receiver>
  </application>
</manifest> 
